footer {
    width: 100%;
    background-color: #fff;
    padding: 15px 0 10px;
}

footer > * > * {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 5px;
}

footer ul {
    display: flex;
    gap: 10px;
}

.text-bold-style {
    font-size: 500;
}
