.gnb .store-tab {
    background-color: #fff;
}

.gnb .store-tab a {
    color: #000;
}

.store-picture {
    background: url(/static/images/store-picture.png) no-repeat center/cover;
    height: 300px;
    margin: 50px 0;
}